.header {
    height:3.6em;
    background-color: rgb(30, 78, 60);
}

.text{
    font-family:cursive;
    color: white;
    font-size:medium;
    font-weight: 500;
    padding-left: 2em;
    vertical-align: middle;
    line-height: 3.6em;
}